extends layout

block content
  h1 To Do List
  p Store your tasks in the to do list app!
  p Enter the title of the task: <input type="text" maxlength="20"/>
  p Enter the description of the task you need to do: 
  <input type="description" maxlength="100"/>
