extends layout

block content
  h1 To Do List
  p Store your tasks in the to do list app!
  <form>
    p Enter the title of the task: <input type="text" name="title" maxlength="20"/>
    p Enter the description of the task you need to do: 
    <input type="text" class="description" name="description" maxlength="100"/>
    <input type="submit" value = "Add"/>
  </form>
